.MainSection {
  background-color: #352f44;
  /* background-color: #94a8b3; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left__block {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  width: 400px;
}

.popular_items {
  display: flex;
  flex-direction: column;
  background-color: #faf0e6;
  gap: 20px;
  padding: 20px;
  border-radius: 30px;
  margin: 20px;
}

.popular_itemsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.popular_itemsTitle img {
  height: 30px;
}
.popular_itemsTitle p {
}

.popular_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(157, 148, 181, 0.19);
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: normal;
  transition: all 0.2s;
}

.popular_item:hover {
  background-color: rgba(119, 115, 131, 0.19);
  cursor: pointer;
  box-shadow: -1px 1px 8px #828e95;
}

.popular_item h4 {
  max-width: 200px;
  font-size: 16px;
  font-weight: normal;
  margin: 0 10px;
}

.popular_item span {
  background-color: #b9b4c7;
  padding: 0 10px;
  border-radius: 20px;
}

.central {
}

.fanfiction {
  display: flex;
  flex-direction: row;
  background-color: #faf0e6;
  gap: 40px;
  padding: 20px;
  border-radius: 30px;
  margin: 20px;
  width: 800px;
  position: relative;
}

.fanfiction__likes {
  display: flex;
  position: absolute;
  top: 20px;
  right: 40px;

  gap: 10px;
  align-items: center;
}

.fanfiction__likes img {
  height: 40px;
}
.fanfiction__likes span {
  /* height: 40px; */
  background-color: #3e9346;
  color: #faf0e6;
  padding: 0 10px;
  border-radius: 20px;
  font-weight: normal;
}

.fanfiction__label {
  height: 300px;
  min-width: 200px;
  background-color: #b9b4c7;
  border-radius: 20px;
}

.fanfiction__info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 10px;
  min-width: 500px;
}

.fanfiction__info h2 {
  font-size: 28px;
  font-weight: bold;
}

.fanfiction__marks {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.fanfiction__marks span {
  text-align: center;
  display: flex;
  align-items: center;
  height: 20px;
  background-color: #ccc;
  line-height: 20px;
  font-size: 16px;
  padding: 2px 10px;
  border-radius: 10px;
  font-weight: normal;
}

.fanfiction__marks span:nth-child(1) {
  background-color: #e5d283;
}
.fanfiction__marks span:nth-child(2) {
  background-color: #ff8933;
}
.fanfiction__marks span:nth-child(3) {
  background-color: #3e9346;
}

.fanfiction__descriptionBlocks {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.fanfiction__descriptionBlock {
  display: flex;
  gap: 3px;
  align-items: center;
}

.fanfiction__descriptionBlock h3 {
  font-size: 16px;
}

.fanfiction__descriptionBlock p {
  font-size: 16px;
  font-weight: normal;
}

.fanfiction__descriptionBlock span {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  display: flex;
  align-items: center;
  height: 20px;
  background-color: #ccc;
  line-height: 20px;
  font-size: 16px;
  padding: 2px 10px;
  border-radius: 10px;
  font-weight: normal;
  margin-left: 5px;
}

.fanfiction__description {
  margin-top: 10px;
  font-weight: normal;
  text-align: justify;
  font-size: 16px;
}

.right__block {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.popular_authors {
  display: flex;
  flex-direction: column;
  background-color: #faf0e6;
  gap: 20px;
  padding: 20px;
  border-radius: 30px;
  margin: 20px;
}

.popular_authorsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.popular_authorsTitle img {
  height: 30px;
}

.popular_author {
  display: flex;
  background-color: #e8dfdd;
  border-radius: 30px;
  align-items: center;
  padding: 0 5px;
  gap: 10px;
  font-size: 16px;
  height: 60px;
  transition: all 0.2s;
}

.popular_author:hover {
  background-color: rgba(119, 115, 131, 0.19);
  cursor: pointer;
  box-shadow: -1px 1px 8px #828e95;
}

.popular_author img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.author_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}
.author_name h4 {
  font-weight: normal;
  line-height: 20px;
}
.author_name p {
  line-height: 1;
  color: #828e95;
  font-weight: normal;
  font-size: 12px;
}
